# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Data (не храните большие датасеты в гите — только код и результаты)
*.csv
*.parquet
data/raw/

# OS
.DS_Store
